AGENTOPS_API_KEY=
OPENAI_API_KEY=
USERNAME=test@agentops.ai 
PASSWORD=password

# This is because default behaviour is to hit the public url.
AGENTOPS_API_ENDPOINT=http://api:8000
AGENTOPS_APP_URL=http://dashboard:3000
AGENTOPS_EXPORTER_ENDPOINT=http://otelcollector:4318/v1/traces
